<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<ion-content padding>

  <nav>
    <ul>
      <li>
        <a (click)="goBack()">
          <i class="material-icons">
            arrow_back_ios
          </i>
          <span>Retour</span>
        </a>
      </li>
    </ul>
  </nav>

<div *ngIf="quantite != null">

  <div class="items">
    <div class="item">
      <div class="img">
        <img src="../../assets/imgs/pp/img/{{ display.img }}" alt="image: {{ titleFormated }}">
      </div>
      <div class="item-data">
        <h3>{{ titleFormated }}</h3>
        <h4>Quantité: {{ quantite }}</h4>
        <h5>Prix: {{ display.price }}€</h5>
      </div>
    </div>
  </div>

  <hr>

  <h3 class="total-price">Prix total: <span>{{ display.price * quantite }} €</span></h3>

  <div class="command-div">
    <button (click)="command()" class="command">COMMANDER</button>
  </div>
</div>
<div *ngIf="quantite == null">
  <h1 style="text-align: center; color: #707070 !important; margin-top: 28%; font-size: 3rem;">Votre panier est vide !</h1>
</div>
</ion-content>

