page-filter {

    h1 {
        font-family: Lobstertwo;
        color: #899ac2;
    }

    .grid[no-padding] > .row > .col {
        padding: 2px;
    }

    .col-title {
    font-size: 1.2em; 
    width: 100%;
    font-weight: bold;
    color:#B1BDD9;
    font-family: Lato;
    }

//button
input[type="checkbox"] {
    display: none;
}

input[type=checkbox]:not(old) + label {
    display: inline-block;
    background-size: 165px 58px;
    background-image: url(../../assets/imgs/label.png);
    text-align: center;
    color: #B1BDD9;

}

input[type=checkbox]:checked  + label {
    background-image: none;
    text-align: center;
    background-color: #FF3366;
    color: white;
}

    a {
        text-decoration: none;
    }

    p {
        color: #B1BDD9;
    }

    p:hover {
        color: #FF3366;
    } 
    .range-bar.range-bar-active {
        background-color:#FF3366;
    }

    .range-ios {

        padding-bottom: 24px;
    
    }
    .but {
        position: relative;
        text-align: center;
        font-size: 1.3em;
        margin-top: -9px;
    }
}
