page-filter {

    h1 {
        font-family: Lobstertwo;
        color: #B1BDD9;
    }

    .cat {
        position: relative;
        text-align: center;
        border-style: solid;
        border-color: #B1BDD9;
        border-width: 3px;
      }

    .col-title {
    font-size: 1.2em;
    width: 100%;
    font-weight: bold;
    color:#B1BDD9;
    font-family: Lato;
    }

    a {
        text-decoration: none;
    }

    p {
        color: #B1BDD9;
    }

    p:hover {
        color: #FF3366;
    } 
}
