page-filter {

    h1 {
        font-family: Lobstertwo;
        color: #899ac2;
    }

    .grid[no-padding] > .row > .col {
        padding: 2px;
    }

    .col-title {
    font-size: 1.2em; 
    width: 100%;
    font-weight: bold;
    color:#B1BDD9;
    font-family: Lato;
    }

//button
    .button-outline-ios-secondary {
        margin-left: 1px;
        margin-right: 1px;
        margin-top: 1px;
        margin-bottom: 1px;
        border-color: #B1BDD9;
        color: #B1BDD9;
        background-color: transparent;
    }

    .button-outline-ios-secondary.activated {

        border-color: #FF3366;
        color: white;
        background-color: #FF3366;
    }

    .button-outline-md-secondary.activated {

        border-color: #FF3366;
        color: white;
        background-color: #FF3366;
    }

    .button-outline-md-secondary {

        border-color: #B1BDD9;
        color: #B1BDD9;
        background-color: transparent;
    }

    .button-outline-ios {

        border-radius: 0px;
        border-width: 2px;
    }

    .button-outline-md {

        border-radius: 0px;
        border-width: 2px;
    }

//fin boutton
    a {
        text-decoration: none;
    }

    p {
        color: #B1BDD9;
    }

    p:hover {
        color: #FF3366;
    } 
    .range-bar.range-bar-active {
        background-color:red;
    }

    .range-ios {

        padding-bottom: 24px;
    
    }
    .but {
        position: relative;
        text-align: center;
        font-size: 1.3em;
        margin-top: -9px;
    }
}
