<ion-menu [content]="content" (ionOpen)="menuOpened()" (ionDrag)="menuOpened()">
  <ion-content>
    <div style="top: auto;">
      <div (click)="onClick()" class="image_login_perso">
          <img *ngIf="userperm != null" src="{{userlogo}}" alt="">
          <img *ngIf="userperm == null" src="../assets/imgs/login.png" alt="My planner user image">
      </div>
  
        <hr style=" background-color: #a37f93; border: 1px solid #a37f93;
      border-radius: 1px; margin-left: 28%; margin-right: 28%;">
          <a href=""><p>Mentions légales</p></a>
          <a href=""><p>Promotions</p></a>
          <a href=""><p>Bons plans</p></a>
          <a href=""><p>Blog</p></a>
          <a href=""><p>Evaluez nous</p></a>
          <a href=""><p style="margin-bottom: 30px;">Contacts</p></a>
        <hr style=" background-color: #a37f93; border: 1px solid #a37f93;
      border-radius: 1px; margin-left: 28%; margin-right: 28%;">
      <a href=""><p>Paramètres</p></a>
  </div>
  </ion-content>
  

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>